@charset "UTF-8";

section#conteudo{
    width: 1300px;
    margin: auto;
}

iframe#frame-heroi {
    width: 464px;
    height: 486px;
    border: none;
    overflow: hidden;
}

iframe#frame-heroi::-webkit-scrollbar {
    display: none;
   
}
